<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/jsc/css/style.css' />
	</head>
	<body class="admin">
		<div class="container">
			<form action="/login" method="post">
				Username:<br />
				<input type="text" name="username" placeholder="tj" /><br />
				Password:<br />
				<input type="password" name="password" placeholder="foobar" /><br /><br />
				<input type="submit" value="login" />
			</form>
		</div>
	</body>
</html>